extends dashboard-layout

block primary
    - if (messages.info)
      .message.info
      each message in messages.info
        li
          span #{message.param} : #{message.msg}

    form(method='POST', enctype='multipart/form-data')
      input(type="hidden", name="_csrf", value=csrfToken)

      div.form-group
        label(for='title') Titre:
        input#title.form-control(type='text', placeholder='first and last', name='title')
      div.form-group
        label(for='content') Description:
        textarea#content.form-control(placeholder='name@email.com', name='content')
      div.form-group
        label(for='images') Images:
        input#title.form-control(type='file', name='images', multiple='multiple')

      div.form-group
        label(for='category') Categorie:
        select#category.form-control(name='category')
          each category in categories
            option(value=category.id) #{category.name}


      button.btn.btn-primary(type='submit') Ajouter
